<nav class="backdrop-blur bg-opacity-90 bg-white mb-4 navbar navbar-expand-md navbar-light shadow-sm">
    <div class="container">
        <a class="navbar-brand fs-4" href="{{##.slab##}}/">Mathilde Bechdolf</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" data-page="index" href="{{##.slab##}}/">Home</a></li>
                <li class="nav-item"><a class="nav-link" data-page="cv" href="{{##.slab##}}/cv/">CV</a></li>
                <li class="nav-item"><a class="nav-link" data-page="research" href="{{##.slab##}}/research/">Research</a></li>
                <li class="nav-item"><a class="nav-link" data-page="teaching" href="{{##.slab##}}/teaching/">Teaching</a></li>
                <li class="nav-item"><a class="nav-link" data-page="misc" href="{{##.slab##}}/misc/">Miscellaneous</a></li>
                <li class="nav-item"><a class="nav-link" data-page="contact" href="{{##.slab##}}/contact/">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
